.channel-container {
  display: flex;
  height: 90vh;
}
.video-frame {
  flex-basis: 70%;
}
.chat-container {
  flex-basis: 30%;
}
.chat-container button {
  height: 50px;
  width: 100%;
}
.chat-container iframe {
  height: calc(100% - 50px);
  width: 100%;
  transition: height 0.2s ease-in;
}
.chat-container iframe.hidden {
  height: 0;
}

.channel-header {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  height: 50px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #3d3d3d;
  color: rgb(197, 200, 212);
  overflow-x: auto;
  overflow-y: hidden;
}
.channel-header .header-block {
  display: flex;
  align-items: center;
  border-right: 1px solid #3d3d3d;
  height: 100%;
  padding: 0 10px;
}
.header-block * {
  margin: 0 5px;
}

@media (max-width: 979px) {
  .channel-container {
    flex-direction: column;
    height: 100vh;
  }
  .video-frame {
    flex-basis: 30%;
  }
  .chat-container {
    flex-basis: 70%;
  }
  .chat-container button {
    margin: 5px 0;
    width: 100%;
  }
}
