.logo {
  font-family: "Major Mono Display", monospace;
  padding-bottom: 2rem;
  text-align: center;
}
.sidebar {
  width: 15vw;
  height: 100%;
  background: #1e1f26;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebar-links {
  list-style: none;
  padding: 0;
  color: #c5c8d4;
}
.sidebar-links li {
  padding: 15px;
}
.sidebar-links .active {
  color: white;
}
.sidebar-links a:hover {
  color: #b9c1b6;
}
.stream-btn {
  padding: 12px 19px;
  cursor: not-allowed;
}
.sidebar-featured-streams {
  border-top: 1px solid #3d3d3d;
}
.sidebar-featured-streams a {
  max-height: 35px;
  display: flex;
  margin: 10px;
  padding: 0 5px;
  max-width: 13vw;
  align-items: center;
}
.sidebar-featured-streams img {
  margin-right: 5px;
}
.sidebar-featured-streams a p {
  margin: 0;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 979px) {
  .sidebar {
    width: 4rem;
  }
  .sidebar .sidebar-text {
    display: none;
  }
  .stream-btn {
    display: none;
  }
}
