.thumbnail-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  height: 16%;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.thumbnail-row img {
  width: 16rem;
  max-width: 50%;
  margin: 0.3rem 0;
}
