.logo {
  font-family: "Major Mono Display", monospace;
  color: #b9c1b6;
  padding-bottom: 2rem;
}
.sidebar {
  min-width: 15vw;
  height: 100%;
  background: #0e1b22;
  color: #505455;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-links {
  list-style: none;
  padding: 0;
}
.sidebar-links li {
  padding: 15px;
}
.sidebar-links .active {
  color: #b9c1b6;
}
.sidebar-links a:hover {
  color: #b9c1b6;
}
.stream-btn {
  padding: 12px 19px;
  cursor: not-allowed;
}
